<main>
  <div class= "container">
    <h1>
      <mat-icon>school</mat-icon>
      <span>O aplikaciji</span>
    </h1>
  </div>
  <div>
    <p class="about">
      Ova aplikacija služi za iščitavanje, sortiranje, pretraživanje i unos podataka u pojedine baze podataka na fakultetu. 
    </p>
    <p class="about">
      Podaci koji su obrađeni u ovoj aplikaciji odnose se na registrovane Projekte - Smerove - Grupe.    
    </p>
    <p class="about">
      <i>U delu Projekat -</i> evidentiraju se svi projekti koji su trenutno aktuelni. U aplikaciji je omogućen unos novih projekata, 
      sortiranje, pretraživanje i izmena već postojećih projekata. U okviru projekta vrši se i evidentiranje podataka o studentima koji su 
      angažovani na pojedinim projektima (student može biti angažovan na jednom ili više projekata), gde je takođe omogućen unos novo 
      angažovanih studenata, sortiranje, pretraživanje i izmena već evidentiranih studenata.
    </p>
    <p class="about">
      <i>U delu Smer -</i> vrši se obrada i čuvenje podataka vezanih za smerove, koji se izučavaju na fakultetu, takođe je omogućen unos novih, 
      sortiranje, pretraživanje i izmena već postojećih smerova. 
    </p>
    <p class="about">
      <i>U delu Grupa -</i> vrši se evidentiranje grupa po smerovima, omogućen je unos novih, sortiranje, pretraživanje i izmena već postojećih.
    </p>
    <p class="about">Aplikacija je kreirana pomoću sledećih alata:
    </p>
    <ol>
      <li>PostgreSQL</li>
      <li>Spring Tool Suite</li>
      <li>Angular</li>
    </ol>
  </div>
</main>